/*! Place your custom styles here */

/* meniu */
.bar .logo{ width: 160px; max-height: 68px; top: 0;}
.bar .menu-horizontal {
  top: 30px;
}

.nav-sidebar-column .logo {
  width: 160px; max-height: 68px; top: 0;
}

footer .logo {
  width: 140px; max-height: 54px !important;
}

/* tekstas  */
article .article__body p, article .article__body ul, article .article__body h5, .article__body h4, .article__body h3, .article__body h2 {
  max-width: 762px;
  margin: 0 auto;
  padding: 0 16px 0 16px;
}

/* mp3 sarasas meniu */
.audio-list {
  font-size: 16px;
  margin: auto;
  padding: 0.5em 1em;
}
.audio-item {
  display: block;
  position: relative;
  padding: 20px 20px 20px 80px;
  margin: 0 auto;
  cursor: pointer;
  border-bottom: solid 1px #ddd;
}
.audio-item:last-child {
  border-bottom: none;
}
.audio__text {
  color: #135156;
  -webkit-transition: all 0.4s linear 0.4s;
  transition: all 0.4s linear 0.4s;
}
.audio__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 24px;
  width: 32px;
  height: auto;
  margin: auto;
  font-size: 32px;
  line-height: 68px;
}

#sliderWrapper { margin-top: 10px; margin-bottom: 20px; }
.ui-slider { max-width: 400px; margin: auto; }

/* buttons */
.btn--primary, .btn--primary:visited {
  color: #ffffff;
}
@media (max-width: 767px) {
  .btn:not(:last-child) {
    margin-bottom: 0;
  }