<section class="switchable feature-large ">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-6 col-lg-5">
        <div class="switchable__text">
          <h2>Perfect for bootstrapped startups</h2>
          <p class="lead">
              Launching an attractive and scalable website quickly and affordably is important for modern startups &mdash; Stack offers massive value without looking 'bargain-bin'.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="boxed boxed--lg boxed--border">
          <div class="feature feature-2">
            <i class="icon icon-Clock-Back color--primary"></i>
            <div class="feature__body">
              <h5>Design Faster</h5>
              <p>
                  Save time with a multitude of styled components designed to showcase your content
              </p>
            </div>
          </div>
          <!--end feature-->
          <div class="feature feature-2">
            <i class="icon icon-Duplicate-Window color--primary"></i>
            <div class="feature__body">
                <h5>Rapid Development</h5>
                <p>
                    Construct mockups or production-ready pages in-browser with Variant Page Builder
                </p>
            </div>
          </div>
          <!--end feature-->
          <div class="feature feature-2">
            <i class="icon icon-Life-Jacket color--primary"></i>
            <div class="feature__body">
                <h5>Elite Support</h5>
                <p>
                    Take comfort in 6 months included support with a dedicated support forum
                </p>
            </div>
          </div>
          <!--end feature-->
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>