<section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-12">
          <article>
          	<div class="article__body">
							{{ page.content }}
						</div>
					</article>
					<!--end item-->
				</div>
			</div>
			<!--end of row-->
		</div>
		<!--end of container-->
  </section>