{% macro loop(page) %}
  {% for p in page.children.visible %}
    {# set current_page = (p.active or p.activeChild) ? 'active' : '' #}
    {% if p.children.visible.count > 0 %}
      <li class="dropdown">
        <span class="dropdown__trigger">{{ p.menu }}</span>
        <div class="dropdown__container">
          <div class="container">
            <div class="row">
              <div class="dropdown__content col-lg-2 col-md-4">
                <ul class="menu-vertical">
    {% else %}
    
    {% endif %}
  {% endfor %}
{% endmacro %}

<ul class="menu-horizontal text-left">
  <li>
    <a href="{{ uri.rootUrl() }}/resursai/skaidriu-sablonai">sdfsdfs</a>
  </li>
  {% for page in pages.children.visible %}
    <li>
      <a href="{{ page.url }}">{{ page.menu }}</a>
    </li>
  {% endfor %}
</ul>