{% if page.url|split("/")[1] == "iktmokyklai" %}
  {% set skyrius = page.url|split("/")[2] %}
{% else %}
  {% set skyrius = page.url|split("/")[1] %}
{% endif %}

<div class="nav-container nav-container--sidebar">
  <div class="nav-sidebar-column">
    <div class="text-center text-block">
      <a href="{{ theme_config.home_url ?: base_url_absolute }}">
        <img alt="logo" class="logo" src="{{ url("theme://images/iktmokyklai-logo-min.svg") }}" />
      </a>
      <p>
        Mokinkime vaikus rašyti
        <em>{% if skyrius == 'dailyrastis' %}dailiai{% else %}taisyklingai{% endif %}.</em>
      </p>
      {#<p>{% include 'partials/search.html.twig' %}</p>#}
    </div>
    <hr>
    <div class="text-block">
      {% include 'dalys/meniu-soninis_sarasas.html.twig' with {skyrius: skyrius} %}
    </div>
    <hr>
    <div>
      {# <ul class="social-list list-inline list--hover">
        <li>
          <a href="#">
            <i class="socicon socicon-google icon icon--xs"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="socicon socicon-twitter icon icon--xs"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="socicon socicon-facebook icon icon--xs"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="socicon socicon-instagram icon icon--xs"></i>
          </a>
        </li>
      </ul> #}
      <div>
        <span class="type--fine-print type--fade">
          &copy;
          <span class="update-year"></span> IKT mokyklai
        </span>
      </div>
    </div>
  </div>
  <div class="nav-sidebar-column-toggle visible-xs visible-sm" data-toggle-class=".nav-sidebar-column;active">
    <i class="stack-menu"></i>
  </div>
</div>