{% set iliustracija = page.media.images|first.url %}
<section class="cover height-80 imagebg parallax text-center" data-overlay="4">
  <div class="background-image-holder">
    <img alt="background" src="{{ iliustracija }}" />
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-md-9 col-lg-8">
        <h1>{{ page.title }}</h1>
        <p class="lead">{{ page.header.lead }}</p>
      </div>
    </div>{# end of row #}
  </div>{# end of container #}
</section>
