{% embed 'dalys/baze.html.twig' %}

{% block lapas %}
<section>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12 col-lg-10">
			    {% include 'partials/sablonas_item.html.twig' with {'blog':page.parent, 'truncate':false} %}
			</div>
		</div>
	</div>
</section>	
	{% endblock %}

{% endembed %}
