<div class="masonry__item col-lg-4 col-md-6" data-masonry-filter="Landing">
  <a href="home-landing-1.html" class="block text-block">
    <div class="hover-item">
      <img alt="Landing 1" src="img/demos/landing-1.jpg" />
    </div>
  </a>
  <div class="text-center">
    <h5>Landing 1</h5>
    <span>Landing Page</span>
  </div>
</div>
<!--end item-->