<section class="imagebg image--light cover cover-blocks bg--secondary ">
  <div class="background-image-holder hidden-xs">
    <img alt="background" src="{{ url("theme://img/promo-1.jpg") }}" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-5 ">
        <div>
          <h1>{{ page.title }}</h1>
          <p class="lead">
            Stack includes support for a sidebar column navigation the left, or right of the page
          </p>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="tabs-container" data-content-align="left">
          <ul class="tabs">
            <li class="active">
              <div class="tab__title">
                <i class="icon icon--sm block icon-Target-Market"></i>
                <span class="h5">Code Quality</span>
              </div>
              <div class="tab__content">
                <p class="lead">
                  https://howlerjs.com/  - html5 js grotuvas
                </p>
                <p class="lead">
                  Add to this the thoughtfully presented documentation, featuring code highlighting, snippets, class customizer explanation and you've got yourself one powerful value package.
                </p>
              </div>
            </li>
            <li>
              <div class="tab__title">
                <i class="icon icon--sm block icon-Text-Effect"></i>
                <span class="h5">Diktanto tekstas</span>
              </div>
              <div class="tab__content lead">
                {{ page.content }}
              </div>
            </li>
          </ul>
        </div>
        <!--end of tabs container-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>